﻿@using AppERP.Web.Helpers
@model AppERP.Web.Models.Account.TenantChangeViewModel
@using (Html.BeginScripts())
{
    <script src="@Url.Content("~/Views/Account/_TenantChange.js")" type="text/javascript"></script>
}
<div class="card tenant-change-component" style="margin-bottom: 3px;">
    <div class="body text-center">
        <span>
            @L("CurrentTenant"):

            @if (Model.Tenant != null)
            {
                <span title="@Model.Tenant.Name"><strong>@Model.Tenant.TenancyName</strong></span>
            }
            else
            {
                <span>@L("NotSelected")</span>
            }

            (<a href="#" data-toggle="modal" data-target="#TenantChangeModal">@L("Change")</a>)
        </span>
    </div>
</div>
<div class="modal fade" id="TenantChangeModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>